@import './reset';
@import './header';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;400;500;600;900&family=Poppins:wght@300;400;600;900&display=swap');

body {
  font-family: 'Noto Sans Mono', monospace;
  font-family: 'Poppins', sans-serif;
}

.wrapper {}

._container {
  width: 1260px;
  margin: 0 auto;
}